@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global reset to remove any default margins/padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

@layer base {
  :root {
    --custom-yellow: #F3C23A;
    --custom-green: #DBF0C5;
  }
}

@layer utilities {
  .bg-custom-yellow {
    background-color: var(--custom-yellow);
  }
  .bg-custom-green {
    background-color: var(--custom-green);
  }
  .border-custom-yellow {
    border-color: var(--custom-yellow);
  }
  .border-custom-green {
    border-color: var(--custom-green);
  }
}
